@import url(reset.css);

.mainSection {
	height: 300px;
	background-color: black;
	color: white;
}

.mainSection.first {
	font-size: 30px;
}

.mainSection.second {
	color: blue;
}

a.red {
	color: red;
}

a {
	color: yellow;
}

/*.third ~ li {
	color: red;
}
*/

.third + li {
	color: pink;
}